@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657951783484') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e709";
}

.icon-zhiding:before {
  content: "\e672";
}

.icon-shouye:before {
  content: "\e63a";
}

.icon-changge:before {
  content: "\e895";
}

.icon-jita:before {
  content: "\e6a4";
}

.icon-yinle:before {
  content: "\e601";
}

.icon-riqi:before {
  content: "\e612";
}

.icon-S_round:before {
  content: "\e633";
}

.icon-shipin:before {
  content: "\e602";
}

.icon-10kejichuangxin-keji:before {
  content: "\e629";
}

.icon-a-sikaoyihuo-02:before {
  content: "\e7ee";
}

.icon-Microsoft:before {
  content: "\e620";
}

.icon-FanHui:before {
  content: "\e60d";
}

